html {
    font-size: 62.5%;
    background-color: gray;
    padding-right: 0.1rem;
}

* {
    font-style: "Garamond","Serif";
    margin: 0;
    padding: 0;
}

#main {
    position: fixed;
}

aside {
    display: flex;
    margin-left: auto;
    width: 29.5%;
    flex-direction: column;
    text-align: center;
    background-color: blueviolet;
    height: 100vh;
    height: 100dvh;
}

nav {
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    font-size: 3rem;
}

nav div:hover {
    color: white;
}

.shoot {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 2.5rem;
}

.shoot article {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid black;
    padding: 0.3em;
}

.shoot article h5 {
    width: 75%;
}
.shoot article p {
    margin-top: 0.2ch;
    width: 50%;
}

.shoot article div {
    border-radius: 25%;
    width: 25%;
    background-color: blue;
    box-shadow: 0.1ch 0.2ch;
    margin-top: 0.2ch;
}


.shoot article div i:hover {
    color: white;
}

.shoot article div i:active {
    margin-top: 0.1ch;
}

.shoot article div:active {
    box-shadow: none;
}

.choices {
    text-align: center;
    border: 0.1rem solid black;
    padding: 0.3em;
}

.flash-text {
    position: absolute;
    display: none;
}

.powerups {
    font-size: 2rem;
}

.powerups-tooltip {
    display: grid;
    align-items: center;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    border-radius: 3%;
    border: 0.7rem solid blue;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: black;
    color: white;
    width: 26ch;
}

.powerups-tooltip span{
    color: rgb(33, 29, 242);
}

.powerups-title i {
    border-radius: 25%;
    box-shadow: 0.1ch 0.2ch;
    background-color: aqua;
    align-items: center;
    width: 1.9ch;
    height: 1.9ch;
}

.powerups-title {
    font-weight: bold;
}

.powerups-title i:hover {
    margin-top: 0.1ch;
    box-shadow: none;
}

.powerups-title i:hover + .powerups-tooltip {
    visibility: visible;
    opacity: 0.9;
}

.upgrades article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    font-size: 2rem;
    width: fit-content;
}

.upgrades i {
    text-align: center;
}

.upgrade-button {
    background-color: green;
    padding: 0.3em;
    width: fit-content;
    border-radius: 10%;
    user-select: none;
}

.upgrade-button:hover {
    color: white;
}

.upgrade-button:active {
    color: black;
}