html {
    font-size: 62.5%;
    background-color: gray;
    padding-right: 0.1rem;
}

* {
    font-style: "Garamond","Serif";
    margin: 0;
    padding: 0;
}

#main {
    position: fixed;
}

aside {
    display: flex;
    margin-left: auto;
    width: 29.5%;
    flex-direction: column;
    border: 0.1rem solid black;
    text-align: center;
}

nav {
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    font-size: 4rem;
}

nav div:hover {
    color: white;
}

.shoot {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 2.5rem;
}

.shoot article {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid black;
    padding: 0.3em;
}

.shoot article h5 {
    width: 75%;
}

.shoot article div, .shoot article p {
    width: 50%;
    border: 0.1rem solid black;
}

.shoot article div i:hover {
    color: white;
}

.choices {
    text-align: center;
    border: 0.1rem solid black;
    padding: 0.3em;
}

.flash-text {
    position: absolute;
    display: none;
}

.powerups {
    font-size: 3rem;
}

.powerups-tooltip {
    display: grid;
    align-items: center;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    border-radius: 3%;
    border: 0.7rem solid blue;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: black;
    color: white;
    width: 26ch;
}

.powerups-tooltip span{
    color: rgb(33, 29, 242);
}

.powerups-title:hover + .powerups-tooltip {
    visibility: visible;
    opacity: 0.9;
}